body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;


    .hamburger {
        display: none;
        background-color: #007BFF;
        border: none;
        color: white;
        font-size: 24px;
        cursor: pointer;

        @media (max-width: 768px) {
            display: block;
        }
    }
}


nav {
    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            display: inline-block;
            margin: 0 15px;

            a {
                color: #fff;
                text-decoration: none;
            }
        }

        @media (max-width: 768px) {
            flex-direction: column;
            display: none;
            li {
                margin: 10px 0;
            }
        }
    }

    &.open ul {
        display: flex;
    }
}



main {
    padding: 20px;
}

footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.carts img {
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
}

.contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.contact-form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.add-announcement-btn {
    background-color: #007BFF;
    border-color: white;
    margin-top: 10px;
}

#announcement-form {
    margin-top: 40px;
    background-color: #007BFF;
    text-align: start;
    position: relative;

    .close-form-btn {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        border-radius: 50%;
        border: none;
        color: #007BFF;
        font-size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .close-form-btn:hover {
        color: #d9534f;
    }
}

.language-dropdown {
    z-index: 20;
}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}
@media screen and (max-width: 576px) {

}
