@charset "UTF-8";
body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0; }

header {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  text-align: center;
  box-shadow: 2px 1px 3px #678; }

header h1 {
  text-shadow: 2px 1px 3px #678; }

header h1 a {
  text-decoration: none;
  color: inherit; }

header .open-announcement-btn {
  box-shadow: 2px 1px 3px #678;
  background-color: #007BFF;
  border-color: white;
  margin-top: 10px; }

header .hamburger {
  display: none;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer; }

@media (max-width: 768px) {
  header .hamburger {
    display: block; } }

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

nav ul li {
  display: inline-block;
  margin: 0 15px; }

nav ul li a {
  color: #fff;
  text-decoration: none; }

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    display: none; }
  nav ul li {
    margin: 10px 0; } }

nav.open ul {
  display: flex; }

main {
  padding: 20px; }

footer {
  background-color: #007BFF;
  box-shadow: 1px -1px 30px #8395a8;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 20; }

.carts img {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%; }

.contact-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc; }

.contact-form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer; }

#announcement-form {
  margin-top: 40px;
  background-color: #007BFF;
  text-align: start;
  position: relative; }

#announcement-form .close-form-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  color: #007BFF;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer; }

#announcement-form .close-form-btn:hover {
  color: #d9534f; }

.language-dropdown {
  z-index: 20; }

/* Skroll çubuğunun genişliyi */
.language-dropdown::-webkit-scrollbar {
  width: 8px;
  /* Skroll çubuğunun eni */ }

/* Skroll çubuğunun "track" hissəsi */
.language-dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* Track arxa plan rəngi */
  border-radius: 10px;
  /* Track kənarlarını yuvarlaqlaşdırır */ }

/* Skroll çubuğunun "thumb" hissəsi */
.language-dropdown::-webkit-scrollbar-thumb {
  background: #007BFF;
  /* Skroll çubuğunun rəngi */
  border-radius: 10px;
  /* Skroll çubuğunun kənarlarını yuvarlaqlaşdırır */ }

/* Skroll çubuğunun hover effekti */
.language-dropdown::-webkit-scrollbar-thumb:hover {
  background: #0056b3;
  /* Hover zamanı daha tünd rəng */ }

.image-gallery .image-gallery-slide img {
  height: 500px;
  object-fit: contain; }

.fullscreen .image-gallery-slide img {
  height: unset; }

.detail {
  display: flex; }

.image-carousel {
  background: rgba(0, 0, 0, 0.8); }

@media screen and (max-width: 768px) {
  .add {
    display: none; } }

@media screen and (max-width: 576px) {
  .table-index {
    display: none; } }
